
doc/main.toc
doc/main.synctex.gz
doc/main.out
doc/main.lot
doc/main.log
doc/main.lof
doc/main.blg
doc/main.aux
doc/chapter_2/chapter_2.aux
doc/chapter_1/chapter_1.aux
doc/appendix/appendix.aux
doc/abstract/abstract.aux
doc/main.synctex.gz
doc/main.bbl
doc/hardware/chapter_2.aux
doc/software/chapter_1.aux
doc/software/software.aux
doc/hardware/hardware.aux
